* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height:46.4vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(139,165,136,1) 0%, rgba(169,108,33,1) 50%, rgba(64,22,45,1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
}

canvas {
    margin-top: 0em;
    border: 2px solid rgb(13, 83, 121);
    background-image: url("../images/bk-fish.webp");
    background-repeat: no-repeat;
}

#clock {
    border: 0px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    height: 0px;
    margin: 0 auto;
    padding: 18px 0;
    width: 245px;
    color: white;
  }
  
  #sphere {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 45px;
    box-sizing: border-box;
    font-size: 40px;
    height: 55px;
    margin: -618px -320px;
    padding: 1px 0;
    position: relative;
    text-align: center;
    width: 113px;
  }
 h1 {
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;    text-align: center;
    color:rgb(255, 255, 255)
 }
