* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-image: url("../images/under_the_waves_bg_only__.png");
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    margin-top: 3em;
    border: 2px solid rgb(13, 83, 121);
    background-image: url("../images/bk-fish.webp");
    background-repeat: no-repeat;
}

#clock {
    border: 2px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    height: 250px;
    margin: 0 auto;
    padding: 18px 0;
    width: 245px;
  }
  
  #sphere {
    border: 2px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Digi";
    font-size: 80px;
    height: 210px;
    margin: 0 auto;
    padding: 35px 0;
    position: relative;
    text-align: center;
    width: 220px;
  }
